@model ProductSearchResult
@{
    Layout = null;
}
<style>
    .clamp-2-lines {
        display: -webkit-box; /* Kích hoạt chế độ Flexbox trên webkit */
        -webkit-line-clamp: 2; /* Giới hạn tối đa 2 dòng */
        -webkit-box-orient: vertical; /* Thiết lập hướng của box */
        overflow: hidden; /* Ẩn nội dung vượt quá */
        text-overflow: ellipsis; /* Thêm dấu "..." */
        white-space: normal; /* Cho phép ngắt dòng */
    }

</style>
<p style="margin-top:10px">
    Có <strong>@Model.RowCount</strong> sản phẩm trong tổng số <strong>@Model.PageCount</strong> trang.
</p>
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.Data)
        {
            <input type="hidden" name="@nameof(item.ProductID)" value="@item.ProductID" />
            <input type="hidden" name="@nameof(item.ProductName)" value="@item.ProductName" />
            <input type="hidden" name="@nameof(item.Photo)" value="@item.Photo" />
            <input type="hidden" name="SalePrice" value="@item.Price" />
            <input type="hidden" name="Quantity" value=1 />
            <input type="hidden" name="@nameof(item.Unit)" value="@item.Unit" />

            <div class="col-md-3">
                <div class="box-body with-border">
                    <div class="row" style="height: 28vw; width: 19vw; background: linear-gradient(to bottom, #607D8B, #FFFFFF);
                     padding: 10px;">
                        <img src="@(string.IsNullOrEmpty(item.Photo) ? Url.Content($"~/images/products/nophoto.png") : Url.Content($"~/images/products/{item.Photo}"))"
                             alt="" style="height: 19vw; width: 17.5vw;">
                        <h4 class="clamp-2-lines" title="@item.ProductName" style="font-weight: bold;">@item.ProductName</h4>

                        <div class="row">
                            <div class="col-sm-7">
                                <p class="clamp-2-lines" title="@(item.Price.ToString("N0") + " đ")"
                                   style=" -webkit-line-clamp: 1!important; color: brown; font-size:20px; font-weight: bold;">
                                    @(item.Price.ToString("N0") + " đ")
                                </p>
                            </div>
                            <div class="col-sm-5">

                                <a href="~/Home/ProductDetail/@item.ProductID">Xem chi tiết</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>

<div class="text-center">
    <ul class="pagination">
        @for (int p = 1; p <= Model.PageCount; p++)
        {
            if (p == Model.Page)
            {
                <li class="active"><a href="#">@p</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch(@p)">@p</a></li>
            }
        }
    </ul>
</div>

