@model ProductSearchInput
@{
    ViewBag.Title = "Giỏ hàng";
    var data = CommonDataService.GetCustomer(int.Parse(User.GetUserData().UserId));
}
<style>
    .clamp-2-lines {
        display: -webkit-box; /* Kích hoạt chế độ Flexbox trên webkit */
        -webkit-line-clamp: 2; /* Giới hạn tối đa 2 dòng */
        -webkit-box-orient: vertical; /* Thiết lập hướng của box */
        overflow: hidden; /* Ẩn nội dung vượt quá */
        text-overflow: ellipsis; /* Thêm dấu "..." */
        white-space: normal; /* Cho phép ngắt dòng */
    }
</style>

<div class="box box-primary">
    <div class="box-body">

        <!-- Giỏ hàng -->
        <h4>Danh sách mặt hàng đã chọn</h4>
        <hr />
        <div id="shoppingCart"></div>


        <!-- Nhập khách hàng, nhân viên phụ trách và khởi tạo đơn hàng -->
        <form id="frmOrderInit" action="~/Shopping/Init" method="post" class="form-horizontal">
            <h4>Thông tin về người nhận và địa chỉ giao hàng</h4>
            <div class="form-group">
                <label class="control-label col-sm-2">Người nhận:</label>
                <div class="col-sm-10">
                    <input type="hidden" name="customerID" value="@User.GetUserData().UserId" />
                    <input type="text" class="form-control" value="@User.GetUserData().DisplayName" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Điện thoại:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="customerPhone" value="@data.Phone" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Tỉnh/thành:</label>
                <div class="col-sm-10">
                    <select class="form-control select2" name="deliveryProvince">
                        <option value="0">-- Chọn tỉnh/thành --</option>
                        @foreach (var item in CommonDataService.ListOfProvince())
                        {
                            <option value="@item.ProvinceName">@item.ProvinceName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Địa chỉ nhận hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="deliveryAddress" />
                </div>
            </div>
            <!--Thông báo lỗi khi lập đơn hàng gặp lỗi-->
            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <span id="error-message" style="color: #f00"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-sm btn-primary" style="font-size: 16px;">
                        Đặt hàng
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

@section scripts {

    <script>
        
        $(document).ready(function () {
            showShoppingCart();

            $("#frmOrderInit").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: $(this).prop("action"),
                    type: $(this).prop("method"),
                    data: $(this).serializeArray(),
                    success: function (result) {
                        if (isNaN(result)) { // Kiểm tra nếu không phải số
                            $("#error-message").html(result);
                        } else {
                            // Chuyển hướng đến trang xác nhận thành công
                            window.location.href = "/OrderTracking/Confirm/" + result;
                        }
                    },
                    error: function () {
                        $("#error-message").html("Đã xảy ra lỗi khi gửi yêu cầu.");
                    }
                });
            });

        });

        function showShoppingCart() {
            $.ajax({
                url: "ShoppingCart",
                type: "GET",
                success: function (data) {
                    $("#shoppingCart").html(data);
                }
            });
        };
    </script>
}
