@model Product
<div class="box box-primary">
    <!--Thông tin mặt hàng-->
    <div class="box-header with-border ">
        <h3 class="box-title">Thông tin mặt hàng</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="~/Product/Save" method="post" enctype="multipart/form-data">

            <input type="hidden" name="@nameof(Model.ProductID)" value="@Model.ProductID" />

            <div class="form-group">
                <label class="control-label col-sm-2">Tên mặt hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" autofocus name="@nameof(Model.ProductName)" value="@Model.ProductName">
                    @Html.ValidationMessage(nameof(Model.ProductName), new { @style = "color:#f00" })
                    @Html.ValidationMessage("InvalidProductName", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mô tả:</label>
                <div class="col-sm-10" style="position: relative;">
                    <textarea class="form-control"
                              rows="3"
                              name="@nameof(Model.ProductDescription)"
                              id="productDescription"
                              maxlength="2000"
                              oninput="countCharacters()">@Model.ProductDescription</textarea>

                    <!-- Phần hiển thị số lượng từ -->
                    <span id="charCount" style="position: absolute; top: -15px; right: 18px; color: gray; font-size: 0.9em;">0/2000</span>

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Loại hàng:</label>
                <div class="col-sm-10">
                    <select class="form-control" name="@nameof(Model.CategoryID)">
                        <option value="0">-- Loại hàng --</option>
                        @foreach (var item in CommonDataService.ListOfCategories())
                        {
                            if (item.CategoryID == Model.CategoryID)
                            {
                                <option value="@item.CategoryID" selected>@item.CategoryName</option>
                            }
                            else
                            {
                                <option value="@item.CategoryID">@item.CategoryName</option>
                            }
                        }
                    </select>
                    @Html.ValidationMessage(nameof(Model.CategoryID), new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Nhà cung cấp:</label>
                <div class="col-sm-10">
                    <select class="form-control" name="@nameof(Model.SupplierID)">
                        <option value="0">-- Nhà cung cấp --</option>
                        @foreach (var item in CommonDataService.ListOfSuppliers())
                        {
                            if (item.SupplierID == Model.SupplierID)
                            {
                                <option value="@item.SupplierID" selected>@item.SupplierName</option>
                            }
                            else
                            {
                                <option value="@item.SupplierID">@item.SupplierName</option>
                            }
                        }
                    </select>
                    @Html.ValidationMessage(nameof(Model.SupplierID), new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Đơn vị tính:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="@nameof(Model.Unit)" value="@Model.Unit">
                    @Html.ValidationMessage(nameof(Model.Unit), new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Giá hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control number-separator" name="@nameof(Model.Price)"
                           value="@Model.Price" >
                    @Html.ValidationMessage(nameof(Model.Price), new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="@nameof(Model.IsSelling)" @(Model.IsSelling ? "checked" : "")>Hiện đang được bán</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh minh họa:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                    @Html.ValidationMessage(nameof(Model.Photo), new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <input type="hidden" name="@nameof(Model.Photo)" value="@Model.Photo" />
                    <img id="Photo" src="@(string.IsNullOrEmpty(Model.Photo) ? Url.Content($"~/images/products/nophoto.png") : Url.Content($"~/images/products/{Model.Photo}"))"
                         class="img img-bordered" style="width: 230px; object-fit: cover; background: silver" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a class="btn btn-default" href="~/Product">
                        Quay lại
                    </a>
                </div>
            </div>
        </form>

    </div>

</div>

@if (Model.ProductID > 0)
{
    <!--Thư viện ảnh-->
    <div class="box box-info">
        <div class="box-header with-border ">
            <h3 class="box-title">Thư viện ảnh</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-gray">
                        <th class="text-center" style="width: 200px;">Ảnh</th>
                        <th class="text-center">Mô tả/tiêu đề</th>
                        <th class="text-center" style="width: 160px;">Thứ tự hiển thị</th>
                        <th class="text-center" style="width: 80px;">Ẩn ảnh</th>
                        <th class="text-right" style="width: 80px;">
                            <a class="btn btn-xs btn-primary" href="~/Product/Photo/@Model.ProductID?method=add">
                                <i class="fa fa-plus"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ProductDataService.ListPhotos(Model.ProductID))
                    {
                        <tr>
                            <td style="vertical-align:middle" class="text-center">
                                <img src="~/Images/Products/photos/@item.Photo" alt="@item.Photo"
                                     style="width: 120px; object-fit: cover; background: silver" />
                            </td>
                            <td style="vertical-align:middle;" class="text-center">
                                @item.Description
                            </td>
                            <td style="vertical-align:middle;" class="text-center">@item.DisplayOrder</td>
                            <td style="vertical-align:middle;" class="text-center">
                                <span class="@(item.IsHidden ? "fa fa-check-square-o" : "")"></span>
                            </td>
                            <td style="vertical-align:middle; text-align:right;">
                                <a class="btn btn-xs btn-primary" href="~/Product/Photo/@Model.ProductID?method=edit&photoId=@item.PhotoID">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-xs btn-danger" href="~/Product/Photo/@Model.ProductID?method=delete&photoId=@item.PhotoID"
                                   onclick="return confirm('Xóa ảnh của mặt hàng hay không?')">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <!--Thuộc tính của mặt hàng-->
    <div class="box box-info">

        <div class="box-header with-border ">
            <h3 class="box-title">Thuộc tính của mặt hàng</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="box-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-gray">
                        <th class="text-center" style="width: 300px;">Tên thuộc tính</th>
                        <th class="text-center">Giá trị thuộc tính</th>
                        <th class="text-center" style="width: 200px;">Thứ tự hiển thị</th>
                        <th class="text-right" style="width: 120px;">
                            <a class="btn btn-xs btn-primary" href="~/Product/Attribute/@Model.ProductID?method=add">
                                <i class="fa fa-plus"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ProductDataService.ListAttributes(Model.ProductID))
                    {
                        <tr>
                            <td style="vertical-align:middle" class="text-center">@item.AttributeName</td>
                            <td style="vertical-align:middle;" class="text-center">@item.AttributeValue</td>
                            <td style="vertical-align:middle;" class="text-center">@item.DisplayOrder</td>
                            <td style="vertical-align:middle; text-align:right">
                                <a class="btn btn-xs btn-primary" href="~/Product/Attribute/@Model.ProductID?method=edit&attributeId=@item.AttributeID">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-xs btn-danger" href="~/Product/Attribute/@Model.ProductID?method=delete&attributeId=@item.AttributeID"
                                   onclick="return confirm('Xóa thuộc tính này của mặt hàng?')">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}
@section scripts {
    <script>
        function countCharacters() {
            const textarea = document.getElementById("productDescription");
            const charCountDisplay = document.getElementById("charCount");

            // Lấy giá trị từ textarea và đếm số ký tự
            const charCount = textarea.value.length;
            const maxChars = 2000;

            // Cập nhật số lượng ký tự hiển thị
            charCountDisplay.innerText = `${charCount}/${maxChars}`;
        }

        // Gọi hàm đếm ký tự khi trang tải để hiển thị giá trị ban đầu
        document.addEventListener("DOMContentLoaded", countCharacters);

        
    </script>
}